[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyTelegramBotAPI = "*"
python-telegram-bot-calendar = "*"
requests = "*"
selenium = "*"
beautifulsoup4 = "*"
lxml = "*"
webdriver-manager = "*"
pyppeteer = "*"
num2words = "*"

[dev-packages]
packaging = "*"

[requires]
python_version = "3.9"
